.main {
  grid-area: main;
  background-color: aliceblue;
  max-width: 100%;
}

.cardContent {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-gap: 20px;
  justify-content: space-around;
  padding: 30px 10px;
}
