/* .main {
} */

.title {
  text-align: center;
}

.cardContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-gap: 20px;
  justify-content: space-around;
  width: 100%;
  padding: 30px 10px;
  overflow: hidden;
}
