.flipCard {
  position: relative;
  width: 320px;
  aspect-ratio: 3/4;
  border-radius: 28px;
}

.flipCardBack,
.flipCardFront {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 28px;
  backface-visibility: hidden;
  transition: all 550ms 0s;
  box-shadow: 0 4px 20px black;
  overflow: hidden;
}

.flipCardFront {
  background-color: burlywood;
  transform: perspective(600px) rotateY(0deg);
}

.flipCardFront img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.flipCardBack {
  transform: perspective(600px) rotateY(180deg);
  background-color: white;
}

.flipCardBack > img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: contain;
  filter: blur(2px);
}

.flipCard:hover .flipCardFront {
  transform: perspective(600px) rotateY(180deg);
}
.flipCard:hover .flipCardBack {
  transform: perspective(600px) rotateY(360deg);
}

.infoBack {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 70px;
}

.title {
  color: black;
  font-size: 20px;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 15px;
}

.boton {
  position: relative;
  background-color: var(--color-main1);
  color: white;
  display: grid;
  place-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: all 200ms 0s;
  margin-right: -30px;
}

.boton:hover {
  font-size: 22px;
  background-color: #032442;
}

.boton img {
  position: absolute;
  left: 30px;
  border-radius: 50px;
  transition: all 200ms 0s;
}

.boton:hover img {
  transform: rotate(30deg);
}
